<div class="form-group mt-2">
    <select (change)="getDoctorAppointments()" class="form-control" [(ngModel)]="selectedDoctorId">
        <option value="">Select Doctor</option>
        @for(doctor of doctors; track doctor){
        <option [value]="doctor.id"> 
            {{doctor.fullName}}
        </option>
        }
    </select>
</div>

<div class="form-group mt-2" id="addAppointment">
    <dx-scheduler  (onAppointmentFormOpening)="addAppointment()"
    timeZone="America/Los_Angeles" 
    [dataSource]="appointmentsData"
    [views]="['day', 'week', 'workWeek', 'month']" 
    currentView="week" 
    [currentDate]="currentDate" 
    [startDayHour]="9"
    [height]="730">
    </dx-scheduler>

</div>